*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient(to right, #060308, #3b1857, #894db9,#3b1857, #060308);
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #bcf190; 
    border-radius: 5px;
}

.container{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}
.col{
    height: 700px;
    margin-top: 30px;
    border-radius: 20px;
    width: 48%;
    display: inline-block;
}

.row{
    width: 100%;
}

.c1{
    background-color:#bcf190;
    border: 2px #1da857 solid;
    color: #014d27;
}

.c2{
    margin-left: 20px;
    background-color: #7ce5f3;
    border: 2px #0d24f1 solid;
}

h1{
    margin-top: 50px;
    text-align: center;
}

td{
    text-align: left;
}

table{
    width: 70%;
    margin-left: 15%;
    margin-top: 70px;
    font-size: 16px;
}

.a{
    width: 55%;
}

.c{
    height: 50px;
}

.d{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 0;
}

.e{
    width: 70%;
    height: 50px;
    margin-left: 15%;
    border-radius: 10px;
    background-color: #ee7bd5;
    border: 2px #690350 solid;
    font-size: 16px;
    cursor: pointer;
}

.r{
    background-color: #ea6d51;
    border: 2px #a73920 solid;
}

.h{
    height: 60px;
    margin-bottom: 5px;
}

.f,.g{
    margin-left: 5px;
    margin-right: 3px;
}
.b{
    margin-top: 25px;
    margin-bottom: 20px;
}

span{
    margin-right: 15px;
}

.c2{
    text-align: left;
    overflow-y: scroll;
}

.s1{
    background-color: #e2ffee;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
}

img{
    padding: 10px;
    margin-left: 70px;
    width: 100px;
    height: 100px;
}

p{
    margin-bottom: 3px;
}

input{
    text-align: center;
}
